.cell {
  min-height: 50px;
}

.block {
  border-top: 1px solid var(--mantine-color-gray-2);
  user-select: none;
  width: 10vw;
  min-width: 120px;

  &.hovered {
    background-color: var(--mantine-color-gray-2);
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 3px;

  .navGroupItem {
    display: grid;
    place-content: center;
    height: 1.6rem;
    border-radius: 8px 5px 0 0;
    width: 100%;
    list-style: none;
    font-size: 0.8rem;
    cursor: pointer !important;
    pointer-events: all !important;
    background-color: var(--mantine-color-gray-2);
    margin: 18px 0;

    &[data-active='true'] {
      background-color: var(--mantine-color-blue-3);
    }
  }
}

.time {
  font-size: 0.7rem;
  color: var(--mantine-color-gray-5);
  text-align: right;
  padding: 0 15px;
  top: -0.5rem;
  position: relative
}

.day {
  font-size: 0.75rem;
  color: var(--mantine-color-gray-5);
  text-align: center;
  padding: 15px 0;
}

.column {
  border-right: 1px solid var(--mantine-color-gray-2);
  &:first-child {
    border-right: none;
  }
  &:last-child {
    border-right: none;
  }
}

.calendar {
  width: 100%;
  min-width: 500px;
  padding: 20px 40px;
}

.stackContainer {
  padding: 10px;
  border: 1px solid var(--mantine-color-gray-4);

  div div {
    display: flex;
    align-items: center;
    padding: 0 4px;
    height: 25px;
  }
}

.event {
  margin: 1em 0;
  cursor: move;
}
